* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: #1C1C1C;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;      
  top: 0;               
  left: 0;
  z-index: 1000;        
}


.navbar-2 {
  height: 45px;
  width: 100%;
  background-color: #4C4D4B;
  color: white;
  font-size: 18px;
  font-weight: 100em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;     
  top: 60px;           
  left: 0;
  z-index: 999;
}


main {
margin-top: 105px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.login-box {
  background-color: #0e6251;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 40px 30px;
  width: 300px;
  text-align: center;
  color: white;
}

.login-box .icon {
  font-size: 40px;
  color: #1abc9c;
  margin-bottom: 10px;
}

.login-box h2 {
  margin-bottom: 30px;
  font-weight: normal;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  background-color: #d0e0dd;
  color: #333;
  font-size: 14px;
  display: block;
}

.login-box button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #1abc9c;
  border: none;
  border-radius: 6px;
  color: white;  
  font-size: 16px;
  cursor: pointer;
}


.login-box button:hover {
  background-color: #17a589;
}

.login-box .forgot {
  margin-top: 15px;
  font-size: 12px;
  color: #b0cfc9;
}

.login-box .forgot a {
  color: #b0cfc9;
  text-decoration: underline;
}

.footer {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: #1C1C1C;
  color: white;
  font-size: 14px;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer a {
  color: #6dd5ed;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}
